<div class="dropdown">
  <button
    type="button"
    class="dropdown-button"
    (click)="handleToggleOpen()"
    [attr.aria-expanded]="open()"
    [attr.aria-controls]="'dropdown-menu-' + uid"
    [id]="'dropdown-button-' + uid"
    [disabled]="disabled()"
    [attr.aria-disabled]="disabled() ? 'true' : null"
    [attr.aria-invalid]="invalid() ? 'true' : null"
    aria-haspopup="listbox"
  >
    <span class="dropdown-label">{{ dropdownLabel }}</span>
    <span class="dropdown-icon" [class.dropdown-icon-rotated]="open()">
      <i class="pi pi-chevron-down dropdown-chevron"></i>
    </span>
  </button>

  @if (open()) {
    <div
      class="dropdown-menu"
      role="listbox"
      [attr.aria-multiselectable]="multiple() ? 'true' : null"
      [attr.id]="'dropdown-menu-' + uid"
      [attr.aria-labelledby]="'dropdown-button-' + uid"
      (keydown)="onMenuKeydown($event)"
    >
      <div class="dropdown-options">
        @if (options().length === 0) {
          <div class="dropdown-option dropdown-option-empty">
            <span class="dropdown-option-text">No hay elementos disponibles</span>
          </div>
        }
        @for (item of options(); track item.value) {
          <button
            type="button"
            class="dropdown-option"
            [class.disabled]="item.disabled"
            [disabled]="item.disabled"
            [class.dropdown-option-selected]="isSelected(item)"
            [class.dropdown-option-focused]="focusedIndex() === $index"
            role="option"
            [attr.aria-selected]="isSelected(item)"
            tabindex="-1"
            (click)="handleOptionClick(item)"
          >
            <span class="dropdown-option-text">{{ item.label }}</span>
            @if (isSelected(item)) {
              <i class="dropdown-check pi pi-check"></i>
            }
          </button>
        }
      </div>
    </div>
  }
</div>
